<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Management</title>
</head>
<body>
    <h1>Hello to Students </h1>
    <h3>I'am {{fname | default:"Anas" }}</h3>
    <h3>I'am {{fname | upper }}</h3>
    <h3>I'am {{fname | lower }}</h3>
    <h3>I'am {{fname | capfirst }}</h3>
    <h3>I'am {{fname | length }}</h3>
    <h3>I'am {{fname | slice:2 }}</h3>
    <h3>I'am {{fname | add:' Galal' }}</h3>
</body>
</html>